html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: url(../images/Q&A.jpg);
  
  
  }



/* login form styles */

form {
    margin:0 auto;
    width:300px;
  
  }
  input {
    margin:10px auto;
    padding:10px;
    width: 100%;
    border:1px solid #CCC
  }
  
  label {
    cursor:pointer
  }
 
 
  
  
 
.form-container {
   
    width: 450px;
    height: 280px;
    background: #0860b8;
    margin: 0 auto;
    margin-top: 130px;
    padding : 100px 10px 0 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border:1px solid rgb(2, 4, 34);
   
}

.form-container a {
 float:left;
 
}


form a {
    text-decoration: none;
    color:black;
   margin:5px 10px;
}



form h2 {
    margin-top: -70px;
    margin-bottom :20px;
    text-align: center
}
form p {
  margin-top: -40px;
 float: right
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 107%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

.link:hover{
    color: white;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 500px) {
   
    input {
        margin:10px auto;
        padding:10px;
        width: 80%;
        border:1px solid #CCC
      }
      button {
        width: 87%;
       
    }
}


