html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
  
  

}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(173, 23, 99, 1);
    overflow: hidden;
    
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav {
    margin-right: 80px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgb(76, 139, 175);
    color: white;
}

.Navbar_Link-brand {
    float:left;
    margin-left: 80px;
    
}

/* login form styles */



.form-container {
     width: 450px;
     height: auto;
     padding: 10px;
    background: #0860b8;
    margin: 50px auto ;
  
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border:1px solid rgb(2, 4, 34);
    
   
}

form p a {
    text-decoration: none;
    
}

form p a:hover {
    color: white;
    
}
 
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 12px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 10px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}



/* Float signup buttons and add an equal width */
 .signupbtn {

  width: 100%;
}





/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 500px) {
    .signupbtn {
       width: 100%;
    }
    .form-container{
        margin: 20px auto;
        width: 80%;
        height: auto;
       
    }
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 5px 12px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }
    
}



